<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xzj.babyfun"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_sleep"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".SplashActivity"
            android:label="@string/title_activity_splash"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".BabyFunActivity"
            android:label="@string/title_activity_baby_fun" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DeviceListActivity"
            android:label="@string/title_activity_device_list"
            android:theme="@android:style/Theme.Dialog" >
        </activity>

        <service
            android:name=".service.BluetoothService"
            android:enabled="true" />
        <service
            android:name=".service.ScanDevicesService"
            android:enabled="true" />

        <activity
            android:name=".BabyStatusActivity"
            android:label="@string/title_activity_baby_status" >
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name=".BabyBreathActivity"
            android:label="@string/title_activity_baby_breath" >
        </activity>

        <receiver android:name=".receiver.BabyStatusReceiver" >
            <intent-filter>
                <action android:name="com.nordicsemi.nrfUART.ACTION_GATT_SERVICES_DISCOVERED" />
                <action android:name="com.nordicsemi.nrfUART.ACTION_DATA_AVAILABLE" />
                <action android:name="com.nordicsemi.nrfUART.ACTION_GATT_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="4f83c5d852701564c0000011" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" >
        </meta-data>

        <activity
            android:name=".CriticalActivity"
            android:label="@string/title_activity_critical" >
        </activity>
        <activity
            android:name=".CalendarActivity"
            android:label="@string/title_activity_calendar" >
        </activity>
        <activity
            android:name=".BabyExplainActivity"
            android:label="@string/title_activity_baby_explain" >
        </activity>
        <activity
            android:name=".SleepProblemActivity"
            android:label="@string/title_activity_sleep_problem" >
        </activity>
        <activity
            android:name=".SleepAnalysisActivity"
            android:label="@string/title_activity_sleep_analysis" >
        </activity>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="zGOG68GTMiC9vzx6dDa5kVEhg5S9i0x9" />

        <activity
            android:name=".EmergencyMapActivity"
            android:label="@string/title_activity_emergency_map" >
        </activity>
        <activity
            android:name=".BabyEmergencyActivity"
            android:label="@string/title_activity_baby_emergency" >
        </activity>
        <activity
            android:name=".EmergencyPhoneNumberActivity"
            android:label="@string/title_activity_emergency_phone_number" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        
        <activity
			android:name="com.mob.tools.MobUIShell"
			android:theme="@android:style/Theme.Translucent.NoTitleBar"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:windowSoftInputMode="stateHidden|adjustResize"/>
    </application>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

</manifest>
